<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>E-commerece</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>in.arunangshu.test.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/user-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>in.arunangshu.test.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/user-logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadProduct</display-name>
    <servlet-name>uploadProduct</servlet-name>
    <servlet-class>in.arunangshu.test.uploadProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadProduct</servlet-name>
    <url-pattern>/uploadProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addToCart</display-name>
    <servlet-name>addToCart</servlet-name>
    <servlet-class>in.arunangshu.test.addToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addToCart</servlet-name>
    <url-pattern>/add-to-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showCart</display-name>
    <servlet-name>showCart</servlet-name>
    <servlet-class>in.arunangshu.test.showCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showCart</servlet-name>
    <url-pattern>/showCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>incdesc</display-name>
    <servlet-name>incdesc</servlet-name>
    <servlet-class>in.arunangshu.test.incdesc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>incdesc</servlet-name>
    <url-pattern>/quantity-inc-dec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCart</display-name>
    <servlet-name>RemoveFromCart</servlet-name>
    <servlet-class>in.arunangshu.test.RemoveFromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCart</servlet-name>
    <url-pattern>/remove-from-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>order</display-name>
    <servlet-name>order</servlet-name>
    <servlet-class>in.arunangshu.test.order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>order</servlet-name>
    <url-pattern>/buy-now</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cancelOrder</display-name>
    <servlet-name>cancelOrder</servlet-name>
    <servlet-class>in.arunangshu.test.cancelOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancelOrder</servlet-name>
    <url-pattern>/cancel-order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newuser</display-name>
    <servlet-name>newuser</servlet-name>
    <servlet-class>in.arunangshu.test.newuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newuser</servlet-name>
    <url-pattern>/new-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cartCheckOut</display-name>
    <servlet-name>cartCheckOut</servlet-name>
    <servlet-class>in.arunangshu.test.cartCheckOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cartCheckOut</servlet-name>
    <url-pattern>/cart-check-out</url-pattern>
  </servlet-mapping>
</web-app>